.App {
  
}

.root {
  width: 90%;
}
.backButton {
  margin-right: 5px,
}
.instructions {
  border:1px solid #eee;
  border-radius:5px;
  width:65%;
  margin-left:auto;
  margin-right:auto;
  min-height:70vh;
}
.textField {
  margin-left: 5px;
  margin-right: 5px;
  width: 65%;
}
.typography1 {
  width:95%;
  text-align:'left';
  padding-left:5px;
  padding-bottom:20px;
}
.typography1 {
  width:95%;
  text-align:'left';
  padding-left:5px;
}
.typography2{
  padding-left:40px;
  padding-bottom:20px;
}
.formgroup1 {
    margin-left:40px;
}
